<div id="logo">
	<h1><a href="#">Street Clock  </a></h1>
	<p><em> template design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a></em></p>
</div>
<hr />
<!-- end #logo -->
<div id="splash">
	<div class="col1"><img src="../css/images/img01.jpg" width="660" height="300" alt="" /></div>
	<div class="col2">
		<blockquote>&#8220;In posuere eleifend odio quisque semper augue mattis wisi maecenas ligula.&#8221;</blockquote>
	</div>
</div>
<div id="header">
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="/" class="first">Homepage</a></li>
			<li><a href="/blog.html">Blog</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>
	<!-- end #menu -->
	<div id="search">
		<form method="get" action="">
			<fieldset>
			<input type="text" name="s" id="search-text" size="15" />
			<input type="submit" id="search-submit" value="" />
			</fieldset>
		</form>
	</div>
	<!-- end #search -->
</div>
